/*
!/.clang-format
!/.config/
/.config/*
!/.config/fish/
/.config/fish/*
!/.config/fish/config.fish
!/.vim/
/.vim/*
!/.vim/coc-settings.json
!/.vim/eclipse-java-google-style.xml
!/.gitignore
!/.rustfmt.toml
!/.vimrc
