/*
!/global/
/global/*
!/global/doas.conf
!/.clang-format
!/.config/
/.config/*
!/.config/environment.d/
!/.config/fish/
/.config/fish/*
!/.config/fish/config.fish
!/.config/kdeglobals
!/.vim/
/.vim/*
!/.vim/coc-settings.json
!/.vim/eclipse-java-google-style.xml
!/.gitignore
!/.rustfmt.toml
!/.vimrc
